.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.creator-page {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
    margin-left: 55%;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #cd2121;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #cd2121;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #cd2121;
    text-decoration: none;
}

.form select {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
    padding: 3%;
    margin-bottom: 30px;
}

.form #register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.menu {
    top: 0;
    width: 100%;
    background-color: rgba(29,44,94,.8549019607843137);
    position: fixed;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Fredoka",sans-serif;
    box-shadow: 1px 0 5px #000;
}

.logo {
    width: 150px;
    border-radius: 15px;
}

.filters {
    display: flex;
    flex-direction: row;
    font-family: "Fredoka",sans-serif;
}

.selectFil {
    border: 2px solid #f10404;
    outline: none;
    letter-spacing: 1.5px;
    border-radius: 10px;
    margin: 0 1rem;
    text-align: center;
    font-family: "Fredoka",sans-serif;
    width: 100px;
    height: 25px;
    font-weight: bolder;
}

.search {
    background-color: transparent;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    color: white;
    border-radius: 20px;
    align-items: center;
    padding: 4px 12px;
    border: 2px solid #fff;
}

.input {
    color: #fff;
    font-family: "Fredoka",sans-serif;
    font-weight: 400;
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
}

.createButton {
    display: flex;
    align-items: center;
    grid-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    padding: 10px 15px;
    background-color: #fff;
    font-weight: bolder;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 100px;
    color: #f10404;
}

#imgSearch {
    width: 20px;
    height: 20px;
}

.pokeball1 {
    width: 20px;
}

.pagInfo {
    display: flex;
    height: 100vh;
    background-color: #fff;
    width: 100vw;
    font-family: "Fredoka",sans-serif;
    font-weight: bolder;
}

table {
    border: "1px solid black";
    width: 1000px;
}

.recuadroInfo {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
}

.divNameImage {
    margin-top: 2.5rem;
    flex-grow: 1;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    min-width: 300px;
    flex-direction: column;
}

.nameDetails {
    color: #cd0b0b;
    font-size: 2.5rem;
    margin: 0;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    caret-color: #000;
}

#numero {
    font-weight: bolder;
    margin: 0;
    color: #9c9a9a;
    font-size: 1.5rem;
}

.base_stats {
    border-radius: 0 0 2.5rem 2.5rem;
    margin: 4rem 5rem 7rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.base_stats_sourth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    grid-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
}

.info_stats {
    background-color: #cd0b0b;
    color: #fff;
    padding: 0.7rem 1.2rem;
    border: 1px solid #000;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.stat_group>div>label {
    background-color: #ab0303;
    border-radius: 50%;
    padding: 5px 7px;
    color: #fff;
}

.circle {
    bottom: 0;
    left: 80px;
    position: absolute;
    width: 350px;
    height: 170px;
    background: #cd0b0b;
    border-radius: 350px 350px 0 0;
    border: 1px solid #000;
}

.base_stats_north {
    background-color: #cd0b0b;
    color: #fff;
    border: 1px solid #000;
    border-bottom: none;
    display: flex;
    border-radius: 2.5rem 2.5rem 0 0;
    padding: 1.2rem 1.5rem 1.2rem 3rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.stat_groups {
    padding: 3rem 2rem;
    border: 1px solid #000;
    border-radius: 0 0 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    max-height: 400px;
    grid-row-gap: 1rem;
    row-gap: 1rem;
}

.stat_group {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
}

.stat_title {
    width: 0.15rem;
    flex-grow: 0.3;
    margin: 5px;
    text-align: start;
    text-transform: uppercase;
}

#linkCreatorImg {
    max-width: 50%;
}
#pokemon_cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 7rem 1.5rem 1.5rem;
}

.pokemon_card {
    background-color: hsla(0,0%,100%,.23137254901960785);
    width: 180px;
    padding: 1rem 3rem 2rem;
    margin: 0.5rem;
    border-radius: 25px;
    border: 1px solid #000;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 35%);
    height: 370px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.pokemon_name {
    font-weight: 500;
    text-align: center;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.pokemon_name, a {
    font-family: "Fredoka",sans-serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.pokemon_img {
    width: 150px;
    max-height: 150px;
    align-self: center;
}

#pokemon_img_info {
    width: 300px;
    max-height: 300px;
    align-self: center;
}

.pokemon_data {
    margin-top: 1rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    max-height: 80px;
    grid-row-gap: 20px;
    row-gap: 20px;
    color: #000;
}

.like_button {
    margin-top: 1rem;
    padding: 7px 12px;
    display: flex;
    justify-content: center;
    color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #f10404;

}

.like_button > p {
    margin: 0;
    font-weight: 500;
}

a:link {
    text-decoration: none;
}

.pokemon_card > a:visited {
    color: blue;
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.num {
    font-weight: bolder;
}

.total_likes {
    color: gray;
    text-align: right;
}

.like {
    margin-left: 75px;
}

/* .DetailPokemon_trash_can__3aj7I {
    width: 80px;
    position: absolute;
    bottom: 40px;
    right: 100px;
    transition: all .3s;
}
.DetailPokemon_detail_pokemon__1ON7g {
    display: flex;
    height: 100vh;
    background-color: #fff;
    width: 100vw;
    font-family: "Fredoka",sans-serif;
    font-weight: bolder;
}

.DetailPokemon_edit_icon__JhYw- {
    width: 70px;
    position: absolute;
    bottom: 40px;
    right: 210px;
    transition: all .3s;
}

.DetailPokemon_hidden__1HsTx {
    display: none;
}
.DetailPokemon_save_icon__ZDnUc {
    width: 70px;
    bottom: 40px;
    width: 55px;
    position: absolute;
    bottom: 48px;
    right: 210px;
    transition: all .3s;
} */


/* .Paginate_page_numbers__1iAIr {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #1d2c5e;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 10px;
    margin: auto auto 1rem;
    border-radius: 20px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.Paginate_single_pager__1T0iA {
    border-radius: 20px;
    border: none;
    font-family: "Architects Daughter",cursive;
    font-weight: bolder;
    color: #fff;
    background-color: transparent;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.Paginate_number__1-u0P {
    font-family: "Fredoka",sans-serif;
    font-weight: bolder;
    margin: 10px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    color: #f10404;
} */
